html{
    scroll-behavior: smooth;
}

* {
    font-family: sans-serif;
}







.cabecera {
    max-width: 100%;
}
.logo{
    max-width: 30%;
    height: auto;
    display: inline;
}


.pseudoclase *:focus {
    background-color: skyblue;
}